interface {{name}}Props {
    anyProp?: string
}

export const {{name}} = ({anyProp}) => {
    const {{functionName}} = ({functionProps}) => {
        // Your code
    }
    return (
        <button onclick="{{functionName}}({functionProps})">
            {{name}}
        </button>
    )
}